/* import fonts from fonts.css file */ 
@import url(./fonts.css);

/* css variables */ 
@import url(./partials/_variables.css);

/* Start Header Section */

/* navbar Stlye */

header {
    position: absolute;
}

header .navbar {
    align-items: center;
    background-color:#252120;
    border-bottom: 1px solid #423940;
}

header .navbar-brand {
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

header .navbar ul li {
    display: inline-block;
    margin-left: 35px;
}

header .navbar ul li a{
    font-size: 15px;
    color: #ffffff!important;
    font-family: var(--barlow)!important;
    line-height: 48px;
    display: block;
    font-weight: 600;
    position: relative;
}

.navbar-nav .nav-item{
    padding: 5px;
}

header .navbar ul li a::before {
    content: '';
    height: 3px;
    background-color: #ffffff;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -12px;
    transition-property: width;
    transition-duration: .5s;
    transition-timing-function: ease;
}

header .navbar ul li a.active::before {
    width: 100%;
    left: 0;
}

header .navbar ul li a:hover::before {
    width: 100%;
    left: 0;
}

header .navbar ul li a.active::before {
    width: 100%;
    left: 0;
}

/* End Header Section */

/* Start main style section */

.banner {
    background-color: #252120;
}

.banner .block {
    max-width: 75%;
    padding-left:35px;
    border-left:5px solid #ffffff;
    margin-top: 150px;
    font-family: var(--barlow);
}

.banner .block h6 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.banner .block h1 {
    color: #ffffff;
    font-size: 70px;
    font-weight: 700;
    margin: 0;
    padding: 0; 
}

.banner .block h3 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.banner .block .cv-btn {
    padding-top: 20px;
}

.banner .block .cv-btn a {
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 25px;
    text-decoration: none;
    display: block;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 2 ease-in-out;
    transition-delay: .1;
    background-color: transparent;
}

.banner .block .cv-btn a:hover {
    background-color: #ffffff;
    color: #423940;
}

.banner .banner-image {
    background-image: url(../img/banner/thinkingcropped.jpg) ;
    min-height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

/* End main style section */

/* Start About Section Styling */

.about-me {
    padding: 50px 30px;
    background-color: #ffffff ;
}

.about-me .section-title h1 {
    text-transform:uppercase
}

.about-me .section-title p.small {
    display: block;
    font-size: 14px;
    color: #838383;
    font-weight: 400;
    letter-spacing: 2px;
}

.about-me .about-content .img img {
    width: 100%;
    display: block;
}

.about-me .about-content .text {
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 30px;
}

.about-me .about-content .text h4 {
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px;
    color: #000000;
}

.about-me .about-content .text h6 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 15px;
    color: #000000;
}

.about-me .about-content .text h6 span {
    color: #fedd01;
}

.about-me .about-content .text p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0 0 20px;
}

.about-me .about-content .text .info {
    display: flex;
    flex-wrap: wrap;
}

.about-me .about-content .text .info .list {

    margin-top: 1opx;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
}

.about-me .about-content .text .info .list label {
    padding-right: 10px;
    color: #000000;
    font-weight: 600;
    font-size: 15px;
}

.about-me .about-content .text .info .list p {
    margin: 0;
}

.about-me .about-content .text .social-links {
    padding-top: 30px;
}

.about-me .about-content .text .social-links a{
    height: 30px;
    width: 30px;
    background-color: #000000;
    border-radius:3px;
    display: inline-block;
    border: 1px solid #000000;
    text-align: center;
    margin: 0 1px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.about-me .about-content .text .social-links a:hover {
    background-color: transparent;
}

.about-me .about-content .text .social-links a .fa{
    color: #ffffff;
    font-size: 12px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.about-me .about-content .text .social-links a:hover .fa {
    color: #000000;
}

/* End About Section Styling */

/* Start My Portfolio */

.portfolio {
    background-color: #f5f8fd;
    padding: 100px 15px 70px;
}
.portfolio .section-title h1:before{
    left: 30%;
}

.portfolio .portfolio-content {
    justify-content: space-between;
}

.portfolio .portfolio-content .box {
    background-color: #ffffff;
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
    text-align: center;
    position: relative;
    border-radius: 5px;
}

.portfolio .portfolio-content .box::before {
    content: '';
    height: 2px;
    background-color: #febd01;
    position: absolute;
    bottom: 0px;
    width: 50px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .5s ease;
}

.portfolio .portfolio-content .box:hover::before {
    width: 100%;
}

.portfolio .portfolio-content .box .icon {
    height: 60px;
    width: 60px;
    background-color: #febd01;
    margin: 15px auto 20px;
    border-radius: 50%;
    text-align: center;
}

.portfolio .portfolio-content .box .icon .fas {
    font-size: 25px;
    color: #ffffff;
    line-height: 60px;
}
.portfolio .portfolio-content .box .icon .fab {
    font-size: 25px;
    color: #ffffff;
    line-height: 60px;
}

.portfolio .portfolio-content .box h5 {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    margin: 0;
}

.portfolio .portfolio-content .box p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 10px 0 10px;
}

/* End My Portfolio */

/* Start Skills section */

.skills {
    padding: 100px 15%;
    background-color: #ffffff;
}

.align-items-center {
    align-items: center;
}

.skills .img img {
    width: 100%;
    display: block;
}

.skills .skills-content .section-title {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 15px 0 0;
}

.skills .skills-content .skill-box {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 16px;
}

.skills .skills-content .skill-box h6 {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin: 0 0 8px ;
}

.skills .skills-content .skill-box .skill-bar {
    height: 5px;
    background-color: #eeeeee;
    position: relative;
}

.skills .skills-content .skill-box .skill-bar .skill-bar-in {
    background-color: #febd01;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
}

.skills .skills-content .skill-box .skill-bar .skill-bar-in span {
    color: #838383;
    font-size: 15px;
    font-weight: 400;   
    position: absolute;
    right: 0; 
    top: -30px;
}

/* End of skills section styling */

/* Start Portfolio work section styling*/

.portfolio-work {
    background-color: #f5f8fd;
    padding: 100px 1px;
}

.portfolio-work .section-title h1:before {
    left: 30%;
}

.portfolio-work .filter-buttons {
    flex: 0 0 100%;
    max-width: 100%;
}

.portfolio-work .filter-buttons ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.portfolio-work .filter-buttons ul li {
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    margin: 0px 8px;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 0px;
}

.portfolio-work .filter-buttons ul li.active {
    color: #febd01;
    border-bottom: 2px solid #febd01;
}

.portfolio-work .filter-buttons {
    margin-bottom: 25px;
}

.portfolio-work .portfolio-gallery {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-work .portfolio-gallery .item {

    margin-bottom: 16px;
    position: relative;
}

.portfolio-work .portfolio-gallery .item img {
    width: 100%;
    height: 100%;
    display: block;
}

.portfolio-work .portfolio-gallery .item .overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0,0,0,0.6);
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s ease;
}

.portfolio-work .portfolio-gallery .item:hover .overlay{
    opacity: 1;
}

.portfolio-work .portfolio-gallery .item .overlay .fas {
    height: 50px;
    width: 50px;
    background-color: #febd01;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.portfolio-work .portfolio-gallery .item:hover .overlay .fas {
    -webkit-animation: galleryIcon .8s ease;
    animation: galleryIcon .8s ease;
    animation-delay: .3s;
}

.portfolio-work .portfolio-gallery .item .overlay h4 {
    margin-top: 15px;
   font-size: 24px;
   color: #ffffff;
    font-weight: 600;
}

.portfolio-work .portfolio-gallery .item:hover .overlay h4 {
    -webkit-animation: galleryText .8s ease;
    animation: galleryText .8s ease;
    animation-delay: .3s;
}

/* Start lightbox style */

.lightbox{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgb(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox.show {
    display: flex;
}

.lightbox.hide{
    display: none;
}

.lightbox .close-lightbox {
    height: 35px;
    width: 35px;
    background-color: red;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 100%;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    display: block;
}

/* end of LightBox */

/* Start Get in Touch */

.message-text {
    background-color: #0c0c17;
    padding: 40px 15px;
}

.message-text .text  h2 {
    font-size: 25px;
    color: var(--text-color);
    font-weight: 700;
    padding: 0;
    margin: 0;
    line-height: 35px;
}

.message-text .button a{
    border-radius: 4px;
    color:var(--text-color);
    border: 1px solid var(--border-color2);
    padding: 12px 25px;
    text-decoration: none;
    display: block;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 2 ease-in-out;
    transition-delay: .1;
    background-color: transparent;
    margin-top: 5px;
}

.message-text .button a:hover {
        background-color: #ffffff;
        color: #000000;
}

/* End of Get in Touch */

/* Start Testimonials */

.about-area .about-title p{
    padding: 1rem 7rem;
    font: var(--barlow);
}

.about-area .client{
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

.about-area .client .client-img{
    padding: 2rem;
}

.about-area .client .client-img img{
    border:2px solid var(--primary-color);
    border-radius: 50%;
}

.about-area .client .about-client{
    padding-top: 2rem;
}

.about-area .client .about-client h4{
    font: normal 500 21px/ 20px var(--barlow);
}

.about-area .client .about-client p{
    font: normal 14px/ 20px var(--barlow);
}
.about-area .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.about-area .owl-carousel .owl-dots .owl-dot.active span{
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}

/* End About Me */ 

/* Contact Section  */
.contact-us {
    background-color: #f5f8fd;
}

.contact-us .section-title h1:before {
    left: 30%;
}

.contact-us .contact-form {
    width: 100%;
    background-color:var(--border-color2);
    padding: 50px;
    border: 1px solid var(--border-color1);
}

.contact-us .contact-form .text {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 22px;
}

.contact-us .contact-form .text h2 {
    font-size: 26px;
    font-weight: 600;
    color: var(--text-color2);
    margin: 0;
    padding: 0;
    
}

.contact-us .contact-form .text p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: var(--border-color);
    margin: 0;
    font: var(--barlow);
}

.contact-us .contact-form .row {
    flex: wrap;
}

.contact-us .contact-form .space-between{ 
    justify-content: space-between;
}

.contact-us .contact-form .col-6 {
    flex: 0 0 calc(50% -20px);
    max-width: calc(50% -20px);
}

.contact-us .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;

}

.contact-us .contact-form .form-control {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--barlow);
}

.contact-us .contact-form textarea.form-control {
    height: 140px;
}

.contact-us .contact-form .form-control::placeholder {
    color: #838383;
}

.contact-us .contact-form .button {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact-us .contact-form .button a {
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 15px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: #febd01;
    box-shadow: 0px 15px 20px #e8e8e8;
    margin-right: 15px;
}

.contact-us .contact-form .button a:hover {
    background-color: #000000;
    color: #ffffff;
}

/* Subscribe me */ 

..subscribe-us-area {
    background-color: #252120;
}

.subscribe-us-area .subscribe{
    padding: 10rem 0;
    margin: 3rem auto;
}

.subscribe-us-area .subscribe .subscribe-title h4{
    font: normal 700 30px/ 30px var(--barlow);
    color: whitesmoke;
}

.subscribe-us-area .subscribe .subscribe-title p{
    color: whitesmoke;
    padding: 1rem 4rem;
}

.subscribe-us-area .subscribe form .input-textbox input{
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font: normal 500 17px/20px var(--barlow);
}
.subscribe-us-area .subscribe form .input-textbox input::placeholder{
    color: whitesmoke;
}

.subscribe-us-area .subscribe form .btn-submit button{
    border-radius: 4px;
    color: var(--text-color);
    border: 1px solid var(--border-color2);
    padding: 12px 25px;
    text-decoration: none;
    display: block;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 2 ease-in-out;
    transition-delay: .1;
    background-color: transparent;
}

.subscribe-us-area .subscribe form .btn-submit button:hover {
    background-color: var(--bg-hover);
    color: #423940;
}

/* End subscribe me */ 

/* Footer Style Section */
footer {
    padding: 70px 15px;
    background-color: var(--bg-color2);
}

footer .logo {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 45px;
    color:var(--text-color);
    font-weight: 600;
}

footer .social {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 15px;
}

footer .social a { 
    color: var(--social-color);
    text-decoration: none;
    display: inline-block;
    margin: 0px 12px;
    transition: all .5s ease;
}

footer .social a:hover {
    color: #ffffff;
} 

/* End Footer Section */

/* Copyright style start */

.copyright {
    background-color: var(--bg-color2);
    border-top: 1px solid #1d1d27;
    padding: 15px;
}

.copyright p {
    color: var(--border-color1);
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}
/* Copyright style End */