/* Global Clases */

/* Styling of fonts, and uppercases */
.text-uppercase{
    text-transform: uppercase!important;
}
.text-lowercase{
    text-transform: lowercase!important;
}
.text-capitlaize{
    text-transform: capitalize!important; 
}


/* Animations & transitions*/
@keyframes fixheader {
    0% {
        trasform: translateY(-100%);
    }
    100%{
        transform: translateY(-0%);
    }
}

@keyframes galleryIcon{
    0%{
        transform: translateY(-20px);opacity: 0;
    }
    100%{
        transform: translateY(0px);opacity: 1;
    }
}

@keyframes galleryText {
    0%{
        transform: translateY(-20px);opacity: 0;
    }
    100%{
        transform: translateY(0px);opacity: 1;
    }
}